<li class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
        <div class="flex-shrink-0">
            <img class="w-12 h-12 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-1.jpg" alt="company image">
        </div>
        <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Company name
            </p>
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                Role
            </p>
        </div>
        <button class="border rounded-xl bg-purple-600 hover:opacity-75 text-white inline-flex items-center font-regular p-2">
            <span>View</span>
        </button>
    </div>
</li>
