<nav class="flex flex-row items-center p-5 justify-around bg-white shadow-xs">
    <h1 class="font-bold ml-8 text-lg text-gray-700 hidden md:flex">Job Search</h1>
    <form 
        #form="ngForm" 
        (ngSubmit)="onSubmit(form)"
        class="h-10 bg-gray-200 cursor-pointer border border-gray-300 text-sm rounded-full shadow-sm flex focus:border-sky-500 focus:ring-1 focus:ring-sky-500">
        <input
            type="text"
            name="search" 
            placeholder="Type your location here"
            [(ngModel)]="searchTerm"
            (change)="search()"
            class="flex-grow px-4 rounded-l-full rounded-r-full text-sm"
        >
        <button 
            class="px-2" 
            type="submit"
            (click)="search()"
        >
            Search
        </button>
    </form>
</nav>
